<h4>Internal server error </h4>

<ng-container *ngIf="error">
    <div *ngIf="dev">
        <h5 class="text-danger">Error: {{error.message}}</h5>
        <p class="font-weight-bold">Note: If you are seeing this then Angular is probably not to blame.</p>
        <p>Please, follow the next steps:</p>
        <ol>
            <li>Open the browser dev tools</li>
            <li>Inspect the network tab</li>
            <li>Check the failing request</li>
            <li>Examine the request URL - make sure it's correct</li>
            <li>Reproduce the error in Postman - if you see the same response, then the issue is not with Angular.</li>
        </ol>
        <p>Following is the stack trace - this is where your investigation should start! Good Luck!! :D</p>
        <code class="mt-5" style="background-color: rgb(219, 219, 219);">{{error.details}}</code>
    </div>
</ng-container>